.background {
  display: flex;
  background: linear-gradient(
    180deg,
    rgb(0, 60, 224) 0%,
    rgb(0, 189, 223) 100%
  );
  justify-content: space-between;
  min-height: 100vh;
}
.texto {
  flex: 0.4;
}
* {
  margin: 0;
}
.titulo {
  font-family: "Comfortaa";
  font-size: 100px;
  color: white;
  padding-top: 200px;
}
.sobre {
  font-family: "Sacramento";
  font-weight: 100;
  font-size: 50px;
  color: white;
  margin-top: 40px;
}
.descricao {
  font-family: "Sacramento";
  font-weight: 300;
  font-size: 35px;
  color: white;
  width: 750px;
  margin-top: 0px;
}
.redesocial {
  display: flex;
  flex: 0.1;
  flex-direction: column;
}
.redesocial img {
  width: 50px;
  padding: 12px;
  cursor: pointer;
}
.caixa {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: 1s;
}
.caixa:hover {
  transform: scale(1.5);
}
.caixa img {
  width: 45px;
  height: 45px;
}
.personagem img {
  height: 700px;
  margin-top: 125px;
  margin-left: 90px;
}
.personagem {
  flex: 0.4;
}
.download {
  margin-top: auto;
}
